// colors
:root {
  --chat-client-primary: #0075cf;
  --chat-client-primary-text: #fff;
  --chat-client-blue-light: #49b0ff;
  --chat-client-grey-light: #e5e5ea;
  --chat-client-grey-dark: #5e5e5e;
  --chat-client-warning: #ff875a;
  --chat-client-success: #1ed760;
  --chat-client-info: #e5e5ea;
  --chat-client-light-blue: #0d6efd;
}
